%ul.comments__list
  - comments.each do |comment|
    %li.comment__list-item
      .comment__header
        .comment__user= comment.user.name
        .comment__votes ( #{ comment.votes.pluck(:value).sum } )
      .comment__body= comment.body
